{% extends "base.html" %}
{% block content %}



<table class="table"
        data-toggle="table">

        <thead>
          <tr>
            <th scope="col">Geo-Location</th>
            <th scope="col">Unique ID</th>
            <th scope="col">Hectare</th>
            <th scope="col">Shift</th>
            <th scope="col">Date</th>
            <th scope="col">Age</th>
            <th scope="col">Primary<br>Color</th>
            <th scope="col">Location</th>
            <th scope="col">Activity</th>
            <th scope="col">Specie</th>
            <th scope="col">Tail</th>
            <th scope="col">Reaction</th>
            
         </tr>
        </thead>
        <tbody>
        
        {% for info  in object_list %}
        <tr>
            
            <td><font size=2>Lat: {{info.Latitude}}<br>Long: {{info.Longitude}}</font></td>
            <td><font size=2>{{id}}</font></td>
            <td><font size=2>
                    Hectare: {{hec}} <br>
                    Number: {{hec2}}
            </font></td>
            <td><font size=2>{{shift}}</font></td>
            <td><font size=2>{{date}}</font></td>
      
            <td><font size=2>{{age}}</font></td>
            <td style= "width: fit-content;"><font size=2>{{primaryc}}</font></td>
            <td><font size=2>
                    Location: {{location}} <br>
                    Specific Location: {{slocation}}
            </font></td>
            <td><font size=2>
                Running: {{r}} <br> 
                Chasing: {{ch}}<br> 
                Climing: {{cl}}<br>
                Eating: {{eat}}<br>
                Foraging: {{for}}<br>
            </font>
            </td>
            <td><font size=2>
                    Kuks: {{k}} <br> 
                    Quaas: {{q}}<br> 
                    Moans: {{m}}<br>
            </font>
            </td>
            <td><font size=2>
                    Tail Flags: {{tf}} <br> 
                    Tail Twiches: {{tt}}<br> 
            </font>
            </td>

            <td><font size=2>
                    Approuches: {{ap}} <br> 
                    Indifferent: {{in}}<br> 
                    Runs From: {{rf}}<br>
            </font>
            </td>
        
        </tr>
        {% endfor %}

        
        
</table>


<!-- 
<h2>Somehing</h2>
    <ul>
        {% for Latitude in object_list %}
            <li>{{Latitude.Date}}</li>
        {% endfor %}
    </ul>

{% endblock content %} -->


